# Ignore environment files
.env
*.env
*.env.local
*.env.*.local

# Ignore all node_modules folders anywhere
node_modules/
**/node_modules/

# Optionally ignore build artifacts in frontend
frontend/dist/
frontend/build/

.vscode/